body, h1, p, nav {
	margin: 0;
	font-family: arial;
}

body{
	background-color: #303030;
}

header, nav {
	position: fixed;
	display: flex;
	z-index: 4;
}

header{
	/*flex properties*/
	justify-content: center;

	/*colors*/
	background-color: #000;
	color: #fff;

	/*width, height*/
	width: 100%;
	height: 57px;

	/*position*/
	top: 0;

	/*margin, padding*/
	padding-top: 10px;
}

nav{
	/*flex properties*/
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	/*colors*/
	/* fallback */ background-color: #212121; 
	/* Safari, Chrome */ background: -webkit-linear-gradient(top, #000, #212121); 
	/* Firefox */ background: -moz-linear-gradient(top, #000, #212121);  
	/* Opera */ background: -o-linear-gradient(top, #000, #212121);
	color: rgba(255, 255, 255, 0.7);

	/*shadow*/
	/* fallback */ box-shadow: 0px 8px 6px 2px #000;
	/* Safari, Chrome */ -webkit-box-shadow: 0px 8px 6px 2px #000;
	
	/*width, height*/
	width: 100%;
	height: 150px;

	/*position*/
	top: 57px;
}

#container{
	z-index: 1;
	margin-top: 227px;
}

#gallery{
	/*flew properties*/
	display: flex;
	flex-direction: column;
	justify-content: center;

	/*margin, padding*/
	margin-right: 10px;
	margin-left: 10px;
}

#col1, #col2 {
	display: flex;
	flex-direction: column;
}

figure {
	/*flew properties*/
	display: flex; 
	flex-direction: column;
	flex-flow: center;
	align-items: center;
	flex-grow: 1;

	/*colors*/
	background-color: #fff;

	/*borders*/
	border: 3px solid #fafafa;
	border-radius: 3px;

	/*margin, padding*/
	margin: 10px;
	transition: all .2s ease-in-out;
	
	z-index: 2;
}

figcaption {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.54);
}

img{
	width: 100%;
	flex-grow: 1;
}

figure:hover{
	/*shadow*/
	/* fallback */ box-shadow: 0px 0px 50px 0px #000;
	/* Safari, Chrome */ -webkit-box-shadow: 0px 0px 50px 0px #000;

	z-index: 3;
	transform: scale(1.04);
}

@media screen and (min-width: 768px){
	#gallery{
		flex-direction: row;
		margin: 0;
	}

	figure{
		max-width: 350px;
	}
}

@media screen and (min-width: 980px){
	figure{
		max-width: 450px;
	}
}

@media screen and (min-width: 1280px){
	figure{
		max-width: 600px;
	}
}

@media screen and (min-width: 1920px){
	figure{
		max-width: 900px;
	}
}